*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    padding: 0;
    font-family: 'Heebo', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    margin: 0%; 
    background: url(../img/rocketfondo.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    flex-wrap: wrap;
    min-width: 250px;
       
}

.titulo-inicio{
    
    display: flex;
    height: 439px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;

}

.titulo-inicio h1{

   font-size: 50px;
   font-weight: 900;
   color: #fff;
   -webkit-text-stroke:1.5px black;
}

.titulo-inicio p{
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;
}

.titulo-semanales h1{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;

}

.titulo-semanales p{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;

}


.fondo{
    margin: 0;
    display: flex;
}



.menu{
    
   background-color: rgb(12, 12, 12);
   height: 75px;
   width: 100vw;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   border-bottom: 1px solid white;
   box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
   position: fixed;
   

}

.menu-item{
    margin-right: auto;
    height: 75px;
}

.logo{
    margin-right: 44%;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}

.menu-items{
    display: flex;
    list-style: none;
    margin-right: 5px;
}
.menu-items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu-items li a{
 
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: initial uppercase;
    color: rgb(255, 255, 255);
}

.menu-items li:hover, li.active{
    background-color: rgba(221, 221, 221, 0.164);
    transition: .4s;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.coches-semanales{
    background: hsla(240, 15%, 36%, 0.877);
    display:flex;
    justify-content:space-around;
    margin-left: 250px;
    margin-right: 250px;
    -webkit-text-stroke:0.6px black;
    font-size:x-large;
}

.coches-semanales h5{

    font-size:xx-large;
}

.imagen-contacto{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-cs{
    width: 100%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: block;
    cursor: pointer;
    box-shadow: 0 0 6px 6 rgb(0, 0, 0 .5);
}


.pie-pagina{
    padding-top: 50px;
    margin-top: auto;
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.Rangos-Competitivo h3{
    display: flex;
    align-items: center;
    justify-content: center;


}

.Rangos-Competitivo h2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;

}

.accordion-button{
    color: #fff;
    background-color: #0a1a2a;

}

.accordion-item{

    color: #fff;
    background-color: hsl(210, 55%, 17%);
   
}

.card-body{
    color: #fff;
     background-color: #0a1a2a;
}
.col > img{
    background-color: #0a1a2a;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
footer{
    padding-top: 50px;
    margin-top: auto;
}



.wrap{
   
    width:90%;
    max-width: 1000px;
    /* margin: auto; */
}
.widget{
    height: 200px;
    width: 40%;
    margin: 2em;
    /* margin: 32px; */
}

.widget p{
    
    display: inline-block;
    line-height: 1em;
}

.fecha{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .caja-segundos{

    display:inline-block ;
}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}

.btn-meun{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
}
@media screen and(max-width: 952px) {
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu-item li a{
        font-size: 16px;
    }   
}
@media screen and(max-width: 850px){

    .menu{
        height: 65px;
    }
    .btn-menu{
        display: inline-flex;
    }
    .menu-item{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top: -100vw;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu-item li{
        margin: 30px 0 0 0;
        line-height: 30px;    
    }
    @media screen and(max-width: 850px)and(orientation: landscape) {
        .menu-item li{
            margin: 5px 0 0 0;
        }
        .menu-item{
            overflow: scroll;
            height: calc(100% - 65px);
        }
        
    }
}
.galeria-img {
    display: -ms-grid;
    display: grid;
    grid-gap: 40px 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0;
}

.titulo-galeria{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;
    margin-top: 50px;

}
.titulo-nosotros h1{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;

}

.titulo-nosotros p{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke:1.5px black;

}

.historia {
    display: -ms-grid;
    display: grid;
    grid-gap: 40px 20px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0;
    background-color: #0d2033;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

}
.historia .card{
    background-color:lightskyblue;
    color: #fff;
    font-size: 20px;
    -webkit-text-stroke:0.1px black;


}




